.footer__adress {
  width: 231px;
  margin-right: 70px;
  display: inline-block;
}

.adress__list {
  margin-top: 20px;
}

.adress {
  font-style: normal;
}

.adress__items:not(:last-child) {
  margin-bottom: 8px;
}

.adress__map {
  color: var(--bg-color-primary);
  text-decoration: none;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.adress__contact {
  color: var(--adress-color);
  text-decoration: none;
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
