.contact {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
  margin-left: auto;
}

.contact__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-top: 32px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.post-link {
  fill: currentColor;
}

.contact__link {
  @media screen and (min-width: 768px) {
    display: flex;
    font-size: 12px;
    line-height: calc(14 / 12);
  }

  align-items: center;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.contact__link--tel {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: calc(40 / 34);
    color: var(--accent-color);
  }
}

.contact__link--mail {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
}

.post-svg {
  margin-right: 10px;
  fill: currentColor;
}
