.form {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    margin-left: 93px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.form__text {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color-primary);
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--bg-color-primary);

  // @media screen and (max-width: 767px) {
  //   width: 100%;
  //   margin-bottom: 20px;
  // }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}

.form__label {
  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }
}
