.footer {
  background-color: var(--bg-color-secondary);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__link {
  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    text-align: center;
  }
}

.footer__thumb {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color-primary);
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}
