body {
  background-color: var(--bg-color-primary);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding-inline-start: 0;
  list-style: none;
}
