.menu__div {
  @media (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.navigation__button {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  @media (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: #ffffff;
  z-index: 999;

  display: none;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  & .navigation__button {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  @media (min-width: 767px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
  display: block;
}

.mobile-menu {
  display: flex;
  margin-top: 64px;
  & .item {
    padding: 0 10px;
  }

  & .item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  & .item:first-child {
    padding-left: 0;
  }
}

.mobile-menu__social {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);

  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.navigation__cross:hover,
.navigation__cross:focus {
  fill: var(--accent-color);
}

.navigation__menu:hover,
.navigation__menu:focus {
  fill: var(--accent-color);
}
